h1 {
  color: red;
}

.dung {
  color: red;
}

h2 {
  color: blue;
}

h3 {
  color: green;
}

// p {
//   color: yellow;
// }

.user-avatar {
  width: 38px;
  height: 38px;
  border-radius: 8px;
}

.nav-link {
  display: inline;
}
